*{
	margin: 0px;
	padding: 0px;
}
body{
	background:#F6F6F6;
}

/*头部样式*/
.toubu{
	height: 50px;
    background: #51B7B0;
    color: #fff;
}
.tbTitle{
	width: 1200px;
    margin: 0 auto;
    display: flex;
    line-height: 50px;
}
.tleft{
	text-align: left;
	width: 10%;
}
.tcenter{
	text-align: center;
	width: 80%;
}
.tright{
	text-align: right;
	width: 10%;
}
.tleft span::before{
	content: '|';
	margin-right: 10px;
}
.tcenter span{
	padding: 5px 10px;
	margin: 0px 10px;
	cursor: pointer;
	
}
.tcenter span a{
	text-decoration: none;
	color: #fff;
	
}
/*.tcenter span:hover{
	background: #fff;
    border-radius: 3px;
    color: #51B7B0;
   
}*/
.active{
	background: #fff;
    border-radius: 3px;
    color: #000000;
}
/*尾部样式*/
.foot-div{
	text-align: center;
    width: 820px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 30px;
}
/*内容样式*/
.content{
	margin: 20px auto;
	width: 1200px;
	background-color: #FFFFFF;
    min-height:200px ;
   
}
.content-title{
	text-align: center;
    padding: 20px;
}
.content-title .p1{
	margin-bottom: 10px;
	
}
.content-title .p1 .span1{
	float: left;
	font-size: 14px;
	cursor: pointer;
	
}
.content-title .p1 .span1 a{
	text-decoration: none;
    color: #666666;
}
.content-title .p1 .span2{
	font-weight: 400;
	font-size: 18px;
	color: #333;
}
.content-title .p2 {
	font-size: 13px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    color: #666666;
}
.content-title .p2 span{
	margin: 0 10px;
}
/*提示信息*/
.content-ts{
	padding: 0px 20px;
}
.content-ts p{
	padding: 12px;
    background: #F6F6F6;
    font-size: 13px;
    line-height: 24px;
    color: #666666;
}
.content-ts p span{
	color: #51B7B0;
}
/*选课导航*/
.content-nav{
	padding: 20px;
}
.content-nav .content-nav-div1 span{
	color: #51B7B0;
	font-size: 18px;
}
.content-nav .content-nav-div1 button{
	float: right;
    width: 60px;
    height: 30px;
    margin-left: 20px;
    border: 0px;
    outline: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.content-nav .content-nav-div1 .bcBtn{
	background-color: #51B7B0;
}
.content-nav .content-nav-div1 .tjBtn{
	background-color: #FF6B6B;
}
.content-nav .content-nav-div1 .chBtn{
	background-color: #FF6B6B;
}
.content-nav .content-nav-div2{
	padding: 16px 0px;
}
.content-nav .content-nav-div2 span a{
	padding: 5px 14px;
    background: #EFEFEF;
    margin-right: 10px;
    border-radius: 3px;
    color: #999999;
    font-size: 13px;
    text-decoration: none;
}
.content-nav .content-nav-div2 span a:hover{
	cursor: pointer;
	color: #fff;
	background: #51B7B0;
}
/*课程模块*/
.content-nav .course-div .cour-name{
    background: #EFEFEF;
    font-size: 13px;
    padding: 4px 10px;
    color: #666666;
}
.course-div .allCourse{
	padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
}
.course-div .allCourse .oneCourse{	
    width: 32%;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    margin: 0 6px;
    color: #666666;
    margin-bottom: 20px;
    height: 250px;
    overflow: auto;
    
}
.allCourse .oneCourse .course-top{
	display: flex;
    padding: 10px;
}
.allCourse .oneCourse .course-top .course-img{
	width: 50%;
}
.allCourse .oneCourse .course-top .course-img img{
	width: 100%;
    border: 2px solid #ddd;
}
.allCourse .oneCourse .course-top .course-info{
	margin-left: 12px;
	width: 50%;
	
}
.allCourse .oneCourse .course-top .course-info .courName img{
	float: right;
	width: 20px;
    height: 20px;
}
.allCourse .oneCourse .course-top .course-info .courName span{
	font-size: 18px;
    color: #333333;
}
.allCourse .oneCourse .course-top .course-info p{
	font-size: 13px;
	margin-bottom: 6px;
}
.allCourse .oneCourse .course-top .course-info p span em{
	font-style: normal;
}
.allCourse .oneCourse .course-content{
	padding: 0px 10px;
}

.allCourse .oneCourse .course-content p{
	font-size: 13px;
	margin-bottom: 4px;
}
.allCourse .oneCourse .course-content .courseTs{
	line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.allCourse .oneCourse .course-bottom{
	text-align: center;
	color: #FF6B6B;
	height: 35px;
    border-top: 1px solid #ddd;
    line-height: 35px;
    cursor: pointer;
}